<header class = "jumbotron">
  <h1>Hiking Blog (remember to make a better title later)</h1>
</header>

<div class="container">
  {{outlet}}
</div>

<footer>
  {{#link-to 'index'}}Home{{/link-to}}
  {{#link-to 'contact'}}Our representatives would love to help!{{/link-to}}
</footer>
