<div class="content">

  {{recent-comments comments=model.comments}}

  <div class="postList">
    {{#each model.posts as |post|}}
      {{post-tile post=post}}
    {{/each}}
  </div>
  {{log model.comments}}


</div>
